* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 0.625rem;
}
body {
  position: relative;
  background-color: yellow;
}

.container {
  border: 1px solid green;
  margin-left: 8rem;
}
